<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>
        {% if self.title() %}
        {% block title %}{% endblock %} - Flask Starter Template{% else %}Welcome - Flask Starter Template
        {% endif %}
    </title>
</head>
<body class="bg-gray-200">

<nav class="p-6 bg-white flex justify-between mb-6">
    <ul class="flex items-center">
        <li>
            <a href="/" class="p-3">starter_flask_sqlite</a>
        </li>
    </ul>

    <ul class="flex items-center">
        {% if user.is_authenticated %}
        <li>
            <a href="/logout" class="p-3">Log out</a>
        </li>
        {% else %}
        <li>
            <a href="/login" class="p-3">Log in</a>
        </li>
        <li>
            <a href="/sign-up" class="p-3">Sign Up</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% if messages %}
<section class="px-6 py-8">
    <div class="flex justify-center">
        <div class="w-4/5">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% endif %}{% endfor %}{% endif %}{% endwith %}
        </div>
    </div>
</section>
{% endif  %}
<section class="px-6 py-8">
    <div class="flex justify-center">
        <div class="w-4/5">{% block content %}{% endblock %}</div>
    </div>
</section>

<footer class="bg-gray-800 text-center text-white py-3 mt-6">
    <ul class="flex justify-center list-none">
        {% if user.is_authenticated %}
        <li class="mr-6">
            <a href="/logout" class="text-white">Log Out</a>
        </li>
        {% else %}
        <li class="mr-6">
            <a href="/sign-up" class="text-white">Sign Up</a>
        </li>
        <li class="mr-6">
            <a href="/login" class="text-white">Log In</a>
        </li>
        {% endif %}
    </ul>
    <p class="text-gray-500 text-sm mb-0">Copyright © 2023 Starter Flask Sqlite</p>
</footer>

</body>
</html>
